.app-register {
    height: 100vh;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: getColor(primary);
    overflow: auto;
    position: relative;
    color: getColor(text-primary);

    .register-loading {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .register-main {
        width: 100%;
        height: 100%;
        background-color: getColor(secondary);
        display: flex;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        overflow-y: auto;
        flex-direction: column;
        gap: 20px;
        padding: 40px 30px;

        @include min-sm {
            width: 550px;
            height: auto;
            gap: 25px;
            border-radius: 10px;
            padding: 40px 30px;


        }
    }

    .register-title {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .error-register {
        text-align: center;
        width: 100%;
        padding: 15px 10px;
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.1);
        color: red;
        font-weight: 500;
        border-radius: 5px;
    }

    .register__form {
        form {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .form__input {
                display: flex;
                flex-direction: column;
                gap: 12px;

                label {
                    font-size: 14px;
                    font-weight: 500;
                }

                input {
                    font-size: 14px;
                    padding: 12px 12px;
                    background-color: getColor(secondary);
                    border: 1px solid getColor(border-primary);
                    border-radius: 5px;

                    &::placeholder {
                        font-size: 12px;
                    }
                }

                &:nth-child(2) {
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 12px;

                        input {
                            width: 100%;
                        }
                    }
                }
            }

            .form__submit {
                width: 100%;
                height: 45px;
                background-color: getColor(blue);
                color: getColor(white);
                font-weight: 600;
                margin-top: 12px;
                border-radius: 5px;

                &:hover {
                    opacity: .8;
                }

            }

        }
    }

    .register__sub {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        padding: 0 20px;

        .register__login-btn {
            @include flex-center;
            width: 100%;
            height: 45px;
            background-color: getColor(white);
            color: getColor(blue);
            border: 2px solid getColor(blue);
            font-weight: 600;
            border-radius: 5px;
            transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                background-color: getColor(blue);
                color: getColor(white);
            }
        }

        .register__line {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                &:nth-child(2) {
                    width: 40px;
                    color: #C2C2C2;
                    text-align: center;
                }

                &:nth-child(1),
                &:nth-child(3) {
                    width: calc(50% - 20px);
                    height: 1px;
                    background-color: #C2C2C2;
                }
            }
        }
    }
}