.wrapper-block__popup {
    background-color: getColor(primary);
    z-index: 28;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 90%;
    border: 1px solid getColor(third);
    header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: getColor(text-primary);
        .header-top {
            align-self: flex-end;
            cursor: pointer;
            font-size: 20px;
            &:hover {
                opacity: .6;
            }
        }

        .header-bottom {
            display: flex;
            padding-right: 30px;
            gap: 20px;

            .icon {
                color: red;
                height: 30px;
                width: 30px;
                background-color: rgba(255, 0, 0, 0.264);
                border-radius: 50%;
                @include flex-center;
                font-size: 17px;

            }

            .main {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .title {
                    font-size: 16px;
                    font-weight: 600;
                    color: getColor(text-primary);
                }

                .sub-title {
                    font-family: 15px;
                    color: getColor(text-secondary);

                }
            }


        }
    }

    .bottom {
        align-self: flex-end;
        display: flex;
        gap: 12px;
        font-size: 15px;
        font-weight: 500;

        button {
            width: 80px;
            padding: 14px 0;
            border-radius: 10px;
        }

        .btn-cancel {
            border: 2px solid gtColor(third);
            background-color: getColor(third);
            color: getColor(text-primary);
            &:hover {
                background-color: #c4c4c4;
                opacity: .8;
                color: getColor(text-primary);
            }
        }

        .btn-delete {
            color: getColor(Cwhite);
            background-color: rgba(255, 33, 33, 0.81);

            &:hover {
                opacity: .8;
            }

        }

    }

}