    .wrapper-create__popup {
        height: 500px;
        width: 500px;
        background-color: getColor(primary);
        color: getColor(text-primary);
        z-index: 28;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        overflow: auto;
        border: 1px solid getColor(secondary);

        .popup-header {
            display: flex;
            position: relative;
            justify-content: center;
            padding: 10px 0;
            .popup__back {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translate(-50%, -50%);

                img {
                    height: 22px;
                    width: 22px;
                }
            }

            span {
                font-size: 16px;
                font-weight: 500;
                color: getColor(Cblue);
            }
        }

        .popup-box {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .popup-search {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                padding: 0 10px;

                button {
                    height: 40px;
                    width: 60px;
                    background-color: getColor(Cblue);
                    color: white;
                    border-radius: 8px;

                    &:hover {
                        opacity: .8;
                    }
                }

                input {
                    width: calc(100% - 60px);
                    border-bottom: 1px solid rgba(122, 122, 122, 0.399);
                    padding: 10px 15px;
                    height: 40px;

                    &::placeholder {
                        font-size: 13px;
                    }
                }
            }

            .popup-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 350px;
                overflow: auto;
                padding: 0 10px;
                background-color: getColor(secondary);
                border-radius: 10px;
                .list__item {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px 20px;
                    border-radius: 10px;

                    &:hover {
                        background-color: rgba(181, 181, 181, 0.319);
                    }

                    .avatar{
                        width: 50px;
                        height: 50px;
                    }
                    .item-info {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        .name {
                            font-size: 15px;
                            font-weight: 500;
                            display: flex;
                            gap: 5px;
                        }
                    }

                    .item-check {
                        height: 20px;
                        width: 20px;

                    }
                }
            }
        }
    }