.wapper-view-participants {
    height: 500px;
    width: 500px;
    background-color: getColor(primary);
    color: getColor(text-primary);
    z-index: 28;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    overflow: auto;
    border: 1px solid getColor(secondary);

    header {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 10px 0;

        .back {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translate(-50%, -50%);

            img {
                height: 22px;
                width: 22px;
            }
        }

        span {
            font-size: 16px;
            font-weight: 500;
            color: getColor(Cblue);
        }
    }

    .list-user {
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 800px;
        overflow-y: auto;
        &__item {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 10px 10px;
            background-color: getColor(secondary);
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: getColor(third);
            }

            .avatar {
                height: 40px;
                width: 40px;

            }

            .name {
                color: getColor(text-primary);
            }
        }
    }
}