$primary-color: rgba(58,141,245);
$secondary-color: #ffffff;
$third-color: #151618;
$four-color: #00A400;

$text-primary-color: #1a1c21;
$text-secondary-color: #969696;


$primary-bg-color: #e6e6e6;
$secondary-bg-color:#f0f0f0;

$border-layout-color:#e6e6e6;
$border-color: #e6e6e6;

$offset: 160;
$duration: 1s;
