$colors:(primary: #fff,
    secondary: #fff,
    third: rgba(227, 227, 227, 0.525),
    four: #525252,
    Cgreen: #00A400,
    Cwhite: #fff,
    Cblue: rgba(58, 141, 245),
    Cgray: #c1c1c1,
    text-primary: #000,
    text-secondary: #9A99A2,
    text-third: rgba(58, 141, 245),
    border-primary: rgba(228, 224, 224, 0.492),
    border-secondary: #000,

);

$colors-dark:(primary: #1e1e1e,
    secondary: #232326,
    third: #363636,
    four: #525252,
    Cgreen: #00A400,
    Cwhite: #fff,
    Cblue: rgba(58, 141, 245),
    Cgray: #363636,
    text-primary: #fff,
    text-secondary: #9A99A2,
    text-third: rgba(58, 141, 245),
    border-primary: #262626,
    border-secondary: #fff,
);


:root {

    @each $name,
    $color in $colors {
        --color-#{$name}: #{$color};
    }

    --theme: 'light';
}

[data-theme='dark'] {

    @each $name,
    $color in $colors-dark {
        --color-#{$name}: #{$color};
    }

    --theme: 'dark';
}

@function getColor($color-name) {
    @return var(--color-#{$color-name})
}

$primary-color: rgba(58, 141, 245);
$secondary-color: #fff;
$third-color: #151618;
$four-color: #00A400;
$text-primary-color: #1a1c21;
$text-secondary-color: #969696;
$primary-bg-color: #fff;
$secondary-bg-color:#f0f0f0;
$border-layout-color:#e6e6e6;
$border-color: #e6e6e6;
$offset: 160;
$duration: 1s;