.app-input {
    input {
        width: 100%;
        padding: 12px 16px;
        border-radius: 4px;
        border: 1px solid var(--light-grey, #ADAABF);
        background: var(--white, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(50, 43, 95, 0.08);
    }
}