.chat-window {
    background-color: #e2e8f0;
    width: calc(100% - 425px);
    padding: 15px 12px;
    display: none;
    border-left: 1px solid #ddd;

    @include min-sm {
        display: block;
    }

    .header {
        @include flex-between;
        height: 60px;
        border-radius: 5px;
        background-color: $secondary-color;
        padding: 0 1rem;

        &__left {
            @include flex-start;

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }

            div {
                padding-left: 1rem;
                font-weight: 600;
            }
        }

        &__right {
            @include flex-start;

            div {
                cursor: pointer;
                padding-right: 2rem;
                font-size: 1.5rem;
                color: $primary-color;

                &:hover {
                    opacity: .8;
                }
            }
        }

    }

    .chat__display {
        height: calc(100% - 120px);
        max-height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 12px;
        padding: 0px 12px 0px 12px;
        padding-bottom: 10px;

        .chat-message {
            width: fit-content;
            padding: 12px;
            line-height: 18px;
            font-size: 13px;
            max-width: 400px;
            height: fit-content;
            background-color: $secondary-color;
            border-radius: 5px;
            display: flex;
            flex-direction: column;

            span {
                color: rgba(113, 128, 150);
                align-self: end;
                font-size: 11px;
                padding-top: 12px;

                &>* {
                    padding-right: 5px;
                }
            }

            &.user-chat {
                align-self: end;
                color: $secondary-color;
                background-color: $primary-color;

                span {
                    color: $secondary-color;

                }
            }
        }
    }

    .chat__bottom {
        height: 60px;
        @include flex-between;
        padding: 10px 25px 0px 15px;
        border-radius: 5px;

        .bottom-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            gap: 25px;
        }

        input {
            width: 100%;
            border-radius: 20px;
            padding: 12px 24px;
            background-color: $secondary-color;

        }

        button {
            background-color: $primary-color;
            color: white;
            padding: 10px 12px;
            border-radius: 5px;
            transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    // .chat-header {
    //     width: 100%;
    //     background-color: $secondary-color;
    //     @include flex-between;
    //     padding: 10px 15px;
    //     border-radius: 5px; 

    //     .item__left {
    //         gap: 10px;
    //         @include flex-start;
    //         .avatar {
    //             @include flex-center;
    //             width: 45px;
    //             height: 45px;

    //             img {
    //                 width: 100%;
    //                 height: 100%;
    //             }
    //         }

    //         .desc {
    //             display: flex;
    //             flex-direction: column;
    //             gap: 8px;
    //             padding-right: 10px;
    //             white-space: nowrap;
    //             overflow: hidden;
    //             text-overflow: ellipsis;

    //             &__name {
    //                 font-weight: 600;
    //                 font-size: 14px;
    //             }

    //             &-message--recent {
    //                 font-size: 12px;
    //                 white-space: nowrap;
    //                 overflow: hidden;
    //                 text-overflow: ellipsis;

    //             }
    //         }
    //     }
    // }
    // .chat-content{
    //     background: $primary-color;
    //     height: 100%;
    // }
    // .chat-bottom{
    //     background-color: $four-color;
    // }
}