.side-menu {
    width: 65px;
    height: 100%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .043137254901960784);
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    color: $third-color;
    gap: 12px;
    padding-top: 100px;

    &__item {
        @include flex-center;
        padding: 10px 0;
        font-size: 16px;
        transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &.active {
            color: $primary-color;
            text-shadow: 2px 2px 2px rgba(230, 83, 64, 0.3),
                0px -2px 2px rgba(158, 47, 3, 0.3);
            transform: scale(1.2);
        }

        &:hover {
            color: $primary-color;
            text-shadow: 2px 2px 2px rgba(230, 83, 64, 0.3),
                0px -2px 2px rgba(158, 47, 3, 0.3);
            transform: scale(1.2);
        }

    }
}