.app-image-detail {
    height: 100%;
    width: 100%;
    padding: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .image-blur {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    img {
        max-width: 90%;
        max-height: 90%;
        z-index: 1;
    }
}