.chat-window {
    width: calc(100% - 425px);
    // padding: 15px 12px;
    height: 100%;
    display: none;
    position: relative;

    @include min-sm {
        display: block;
    }

    &__blank {
        @include flex-center;
        height: 100%;
        font-size: 34px;
        font-weight: 500;
    }

    &__main {
        background-color: $secondary-color;
        height: 100%;
        width: 100%;



        .header {
            @include flex-between;
            height: 60px;
            border-radius: 5px;
            padding: 0 1rem;
            border-bottom: 1px solid #e6e6e6;



            &__left {
                @include flex-start;
                gap: 10px;

                .user-avatar {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &__status {
                        position: absolute;
                        height: 12px;
                        width: 12px;
                        bottom: 1px;
                        border-radius: 50%;
                        border: 2px solid $secondary-color;
                        right: 1px;
                        background-color: $four-color;
                        animation: pulse 1s infinite;
                    }

                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                            opacity: 1;
                        }

                        50% {
                            transform: scale(1.2);
                            opacity: 0.7;
                        }

                        100% {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }

                .user-desc {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    &.group {
                        flex-direction: row;
                        font-weight: 600;

                    }

                    &__name {
                        font-size: 14px;
                        font-weight: 600;
                        display: flex;
                        gap: 5px
                    }

                    &__status {
                        font-size: 13px;
                        font-weight: 500;
                        color: $text-secondary-color;
                    }
                }
            }

            &__right {
                @include flex-start;
                gap: 5px;

                div {
                    cursor: pointer;
                    font-size: 1.5rem;
                    padding: 10px 15px;
                    border-radius: 5px;
                    cursor: pointer;
                    color: $primary-color;

                    &.icon__call {
                        position: relative;

                        .ripple {
                            display: none;
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) scale(1);
                            border-radius: 50%;
                            background: $primary-color;
                            animation: ripple-animation 1s linear infinite;
                        }

                        @keyframes ripple-animation {
                            0% {
                                transform: translate(-50%, -50%) scale(0);
                                opacity: 0;
                            }

                            50% {
                                transform: translate(-50%, -50%) scale(0);
                                opacity: 0;
                            }

                            75% {
                                transform: translate(-50%, -50%) scale(1);
                                opacity: 0.5;
                            }

                            100% {
                                transform: translate(-50%, -50%) scale(1.2);
                                opacity: 0;
                            }
                        }
                    }

                    &.active {
                        animation: pulse 1s infinite;

                        .ripple {
                            display: block;
                        }
                    }


                    &:hover {
                        color: rgb(0, 60, 255);
                        background-color: $primary-bg-color;
                    }
                }
            }

        }

        .chat__display {
            width: 100%;
            height: calc(100% - 130px);
            max-height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column-reverse;
            gap: 5px;
            padding: 0px 12px 0px 12px;
            padding-bottom: 10px;

            &.blank {
                @include flex-center;
                font-weight: 600;
                font-size: 20px;
                color: #b1afaf;

            }


        }

        .chat__bottom {
            height: 70px;
            @include flex-between;
            padding: 10px 20px;
            border-top: 1px solid #e6e6e6;

            .bottom-box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding: 10px 0;
                gap: 25px;
            }

            input {
                width: 100%;
                border-radius: 20px;
                padding: 10px 24px;
                background-color: $secondary-bg-color;
                border: 1px solid $secondary-bg-color;

            }

            button {
                padding: 0 12px;

                .btn-icon-send {
                    color: $primary-color;
                    font-size: 25px;
                    border-radius: 25px;
                    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__options {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

}