.chat-side {
    height: 100%;
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-right: 1px solid #e6e6e6;
    padding: 10px;

    @include min-sm {
        width: 360px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        background-color: $secondary-color;
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;

        .title {
            font-size: 22px;
            font-weight: 600;
            padding-top: 20px;
        }

        .search-box {
            border: 1px solid $border-color;
            box-shadow: 0 3px 20px rgba(0, 0, 0, .043137254901960784);
            background-color: $secondary-color;
            border-radius: 5px;
            position: relative;
            z-index: 20;

            input {
                padding: 13px 12px;
                width: 100%;
                height: 50px;
                &:focus {
                    border: 1px solid $primary-color;
                }

            }

            .search-list {
                max-height: calc(100vh - 200px);
                overflow-y: auto;
                background-color: white;
                position: absolute;
                width: 100%;
                border-radius: 5px;
                top: 50px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

                &.empty {
                    height: 50px;
                    background-color: $secondary-color;
                }

                &__item {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 12px;
                    border-bottom: 1px solid #e2e8f0;

                    &:hover {
                        opacity: .8;
                    }


                }

                .desc {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    &__name {
                        display: flex;
                        gap: 5px;
                        font-weight: 600;
                    }

                    &__email {
                        font-size: 11px;
                        color: #7a7878;
                    }

                }

            }
        }

    }

    &__user-potantial {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        height: 80px;
        overflow-x: hidden;

        .user-potantial__item {
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 8px;

            img {
                width: 40px;
                height: 40px;
            }

            &>div {
                width: 50px;
                font-size: 12px;
            }

            .user__avatar {
                position: relative;

                &-status {
                    position: absolute;
                    height: 12px;
                    width: 12px;
                    bottom: 1px;
                    border-radius: 50%;
                    border: 2px solid $secondary-color;
                    right: 1px;
                    background-color: $four-color;
                }
            }

            .user__name {
                padding: 0 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: rgba(113, 128, 150);
                font-weight: 600;
            }
        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;

        }

        .chat-list__item {
            display: flex;
            cursor: pointer;
            width: 100%;
            overflow: hidden;
            min-height: 60px;
            padding: 15px;
            background-color: $secondary-color;
            border-bottom: 1px solid #e6e6e6;
            transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            @include flex-between;

            &.active {
                border-bottom: 1px solid #f0f0f0;
                background-color: #f0f0f0;

            }

            &:hover {
                background-color: #f0f0f0;


            }

            .item__left {
                @include flex-start;
                gap: 10px;
                width: calc(100% - 55px);

                .avatar {
                    @include flex-center;
                    width: 45px;
                    height: 45px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &-status {
                        position: absolute;
                        height: 12px;
                        width: 12px;
                        bottom: 1px;
                        border-radius: 50%;
                        border: 2px solid $secondary-color;
                        right: 1px;
                        background-color: $four-color;
                    }
                }

                .desc {
                    width: calc(100% - 55px);
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding-right: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &__name {
                        font-weight: 600;
                        font-size: 15px;
                        display: flex;
                        gap: 5px;
                    }

                    &-message--recent {
                        font-size: 13px;
                        line-height: 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: flex;
                        font-weight: 400;
                        gap: 5px;
                        color: $text-secondary-color;

                        span {
                            object-fit: contain;
                        }

                        &.unread {
                            span {
                                color: $text-primary-color;
                                font-weight: 600;
                            }
                        }

                    }
                }
            }

            .item__right {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                justify-content: space-between;
                font-size: 11px;
                font-weight: 600;
                width: 55px;
                height: 100%;
                color: $text-secondary-color;

                &-icon {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;

                    &.active {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}