.side-menu {
    width: 65px;
    height: 100%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .043137254901960784);
    background-color: getColor(secondary);
    display: none;
    flex-direction: column;
    color: $third-color;
    gap: 12px;
    justify-content: space-between;
    border-right: 1px solid getColor(border-primary);
    padding: 40px 0px;
    align-items: center;
    color: getColor(text-secondary);

    @include min-sm {
        display: flex;
    }

    .side-menu__top {
        cursor: pointer;

        img {
            height: 45px;
            width: 45px;
        }
    }

    .side-menu__item {
        cursor: pointer;
    }

    .side-menu__main {
        display: flex;
        gap: 12px;
        flex-direction: column;
        width: 100%;
        padding: 0 5px;

        .side-menu__item {
            @include flex-center;
            padding: 15px 0;
            font-size: 16px;
            width: 100%;
            border-radius: 10px;
            transition: all .4s ease-in cubic-bezier(0.075, 0.82, 0.165, 1);

            &.active {
                color: getColor(text-third);
                text-shadow: 2px 2px 2px rgba(230, 83, 64, 0.3),
                    0px -2px 2px rgba(158, 47, 3, 0.3);
                background-color: getColor(third);
            }

            &:hover {
                color: getColor(text-third);
                text-shadow: 2px 2px 2px rgba(230, 83, 64, 0.3),
                    0px -2px 2px rgba(158, 47, 3, 0.3);
                background-color: getColor(third);

            }

        }

    }
}