.side-menu {
    height: 55px;
    width: 100%;
    background-color: getColor(Cblue);
    display: flex;
    color: $third-color;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    color: getColor(Cwhite);
    padding: 5px 20px 5px 10px;
    border-radius: 15px 15px 0px 0px;


    @include min-sm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0px 20px 20px 0px;
        padding: 40px 0px;
        gap: 12px;
        width: 65px;
        height: 100%;
        box-shadow: 0 3px 20px rgba(0, 0, 0, .043137254901960784);
        border-right: 1px solid getColor(border-primary);

    }

    .side-menu__top {
        cursor: pointer;

        img {
            height: 40px;
            width: 40px;
        }

        @include min-sm {
            img {
                height: 45px;
                width: 45px;
            }
        }

    }

    .side-menu__item {
        cursor: pointer;
    }

    .side-menu__main {
        display: flex;
        gap: 12px;
        flex-direction: row;
        width: 100%;
        padding: 1px 10px;
        height: 100%;

        @include min-sm {
            height: auto;
            padding: 0 5px;
            display: flex;
            flex-direction: column;
        }

        .side-menu__item {
            @include flex-center;
            border-radius: 10px;
            transition: all .4s ease-in cubic-bezier(0.075, 0.82, 0.165, 1);
            padding: 0 20px;
            font-size: 17px;

            @include min-sm {
                padding: 15px 0;
                font-size: 16px;
                width: 100%;
            }

            &.active {
                color: getColor(Cwhite);
                text-shadow: 2px 2px 2px rgba(230, 83, 64, 0.3),
                    0px -2px 2px rgba(158, 47, 3, 0.3);
                background-color: getColor(third);
            }

            &:hover {
                color: getColor(Cwhite);
                text-shadow: 2px 2px 2px rgba(230, 83, 64, 0.3),
                    0px -2px 2px rgba(158, 47, 3, 0.3);
                background-color: getColor(third);

            }

        }

    }
}